<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="../../static/adminResources/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/adminResources/css/bootstrap-extend.css">
    <link rel="stylesheet" href="../../static/adminResources/css/master_style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/_all-skins.css">
    <link rel="stylesheet" href="../../static/adminResources/css/morris.css">
    <link rel="stylesheet" href="../../static/adminResources/css/weather-icons.css">
    <link rel="stylesheet" href="../../static/adminResources/css/owl.theme.default.css">
    <link rel="stylesheet" href="../../static/adminResources/css/owl.carousel.css">
    <link rel="stylesheet" href="../../static/adminResources/css/www-player-webp.css">
    <link rel="stylesheet" href="../../static/adminResources/css/about.css">
</head>

<body class="hold-transition skin-purple-light sidebar-mini">
<div class="wrapper">


    {% include 'user/header.html' %}
    {% include 'user/menu.html' %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
            </ol>
        </section>

        <section class="content">

            <!-- About Section -->
            <div class="w3-row w3-padding-64" id="about">
                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="../../static/adminResources/image/park1.jpg" class="w3-round w3-image w3-opacity-min"
                         alt="Table Setting" width="600" height="750">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center">About RAAIS</h1><br>
                    <p class="w3-large">Makes your life more easy And comfortable while using public transport because
                        traffic wont be there by using RAAIS.</p>
                    <p class="w3-large w3-text-grey w3-hide-medium">This object detection & Tracking System will detect
                        illegal parking at roadside and helps to maintain Traffic.So you can reach your destination
                        happly, with no traffic.</p>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'user/footer.html' %}


</div>
<!-- ./wrapper -->
<script src="../../static/adminResources/js/jquery-3.3.1.js"></script>
<script src="../../static/adminResources/js/popper.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.js"></script>
<script src="../../static/adminResources/js/jquery.slimscroll.js"></script>
<script src="../../static/adminResources/js/fastclick.js"></script>
<script src="../../static/adminResources/js/jquery.sparkline.min.js"></script>
<script src="../../static/adminResources/js/raphael.min.js"></script>
<script src="../../static/adminResources/js/morris.min.js"></script>
<script src="../../static/adminResources/js/Chart.bundle.js"></script>
<script src="../../static/adminResources/js/jquery.flot.js"></script>
<script src="../../static/adminResources/js/jquery.flot.resize.js"></script>
<script src="../../static/adminResources/js/WeatherIcon.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/dashboard.js"></script>
<script src="../../static/adminResources/js/demo.js"></script>
<script src="../../static/adminResources/js/statistic.js"></script>
<script src="../../static/adminResources/js/owl.carousel.js"></script>
<script src="../../static/adminResources/js/widget-blog.js"></script>

</body>
</html>
