<aside class="main-sidebar">
    <!-- line 32 menu componets-->
    <section class="sidebar">

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="/user/loadDashboard">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>


            <!-- menu components starts-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-video-camera"></i>
                    <span>Video</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/user/loadVideo"><i class="fa fa-circle-thin"></i>Upload Video</a></li>
                    <li><a href="/user/viewVideo"><i class="fa fa-circle-thin"></i>View Video</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i>
                    <span>Purchase</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/user/loadPurchase"><i class="fa fa-circle-thin"></i>View Package</a></li>
                    <li><a href="/user/viewPurchase"><i class="fa fa-circle-thin"></i>View Purchase</a></li>
                </ul>
            </li>

            <li>
                <a href="/user/loadComplain">
                    <i class="fa fa-comments"></i>
                    <span>Complain</span>
                </a>
            </li>

            <li>
                <a href="/user/loadFeedback">
                    <i class="fa fa-thumbs-up"></i>
                    <span>Feedback</span>
                </a>
            </li>

            <li>
                <a href="/admin/logoutSession">
                    <i class="fa fa-power-off"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>
    </section>
</aside>
