<aside class="main-sidebar">
    <!-- line 32 menu componets-->
    <section class="sidebar">

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="/admin/loadDashboard">
                    <i class="fa fa-home"></i> <span>Dashboard</span>
                </a>
            </li>


            <!-- menu components starts-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-drivers-license-o"></i>
                    <span>TPS</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/loadTrafficPoliceStation"><i class="fa fa-circle-thin"></i>Add
                        TrafficPoliceStation</a></li>
                    <li><a href="/admin/viewTrafficPoliceStation"><i class="fa fa-circle-thin"></i>View
                        TrafficPoliceStation</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-map-marker"></i>
                    <span>Area</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/loadArea"><i class="fa fa-circle-thin"></i>Add Area</a></li>
                    <li><a href="/admin/viewArea"><i class="fa fa-circle-thin"></i>View Area</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-road"></i>
                    <span>Crossroad</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/loadCrossroad"><i class="fa fa-circle-thin"></i>Add Crossroad</a></li>
                    <li><a href="/admin/viewCrossroad"><i class="fa fa-circle-thin"></i>View Crossroad</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-camera"></i> <span>Camera</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/loadCamera"><i class="fa fa-circle-thin"></i>Add Camera</a></li>
                    <li><a href="/admin/viewCamera"><i class="fa fa-circle-thin"></i>View Camera</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Dataset</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/loadDataset"><i class="fa fa-circle-thin"></i>Add Dataset</a></li>
                    <li><a href="/admin/viewDataset"><i class="fa fa-circle-thin"></i>view Dataset</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/viewVideo">
                    <i class="fa fa-video-camera"></i>
                    View Video
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-large"></i> <span>Package</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/loadPackage"><i class="fa fa-circle-thin"></i>Add Package</a></li>
                    <li><a href="/admin/viewPackage"><i class="fa fa-circle-thin"></i>View Package</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/viewPurchase">
                    <i class="fa fa-inr"></i>
                    View Purchase
                </a>
            </li>

            <li>
                <a href="/admin/viewComplain">
                    <i class="fa fa-comments"></i>
                    View Complain
                </a>
            </li>

            <li>
                <a href="/admin/viewFeedback">
                    <i class="fa fa-thumbs-up"></i>
                    View Feedback
                </a>
            </li>

            <li>
                <a href="/admin/logoutSession">
                    <i class="fa fa-power-off"></i> <span>Logout</span>
                </a>
            </li>

        </ul>
    </section>
</aside>
